@charset "utf-8";
/* CSS Document */
{
	margin:0;
	padding:0;
	font-size:12px;
}
body
{
	background-color:#f5f5f5;
}
.register
{
    width: 260px;
	height:280px;
	margin: 0 auto;
	font-size:18px;
	
	}
.green_title
{
	font-size:20px;
	font-family:"华文楷体", "华文行楷", "宋体";
	}
