body {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #f5f5f5;
}
input[type=checkbox]{
	vertical-align:top;
	margin-right:3px;
}
.alert{
	padding-top:15px;
}
.input-xxlarge{
	width: 100%;
  height: 30px!important;
  line-height: 30px!important;
}


.todos {
	max-width: 550px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.todo-list .done-true {
}

.done-true .todo-text {
	text-decoration: line-through;
	color: grey;
}

.color{
	position: absolute;
	padding-left: 3px;	
}

.color li{
	cursor: pointer;
	width: 10px;
	height: 10px;
	margin-right:3px;
	float: right;
	list-style: none;
}
.badge{
	background-color: #f89406;
}

li.color-1{
	background-color: #b94a48;
}

li.color-2{
	background-color: #c09853;
}

li.color-3{
	background-color: #468847;
}

li.color-4{
	background-color: #3a87ad;
}


.color-1{
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
}

.color-2{
	color: #c09853;
	background-color: #fcf8e3;
	border-color: #fbeed5;
}

.color-3{
	color: #468847;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.color-4{
	color: #3a87ad;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
