<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>ng-todolist</title>
	<link id="bootstrap_221" rel="stylesheet" type="text/css" class="library" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/todo.css">
</head>
<body>
	<div class="container" ng-app="todos">
		<div ng-controller="TodoCtrl">
			<div class="todos">
				<h2>我的任务列表</h2>
				<form ng-submit="addTodo()">
					<input type="text" class="input-xxlarge" ng-model="todoText"  size="30" placeholder="添加新任务" ng-required="true">
					<button type="submit">确定</button>
					<label ng-show="hasItem()">
						<input type="checkbox" ng-model="isDoneAll" ng-click="doneAll()">标记所有为已解决
					</label>
				</form>
				<div ng-show="hasItem()">
					<div class="btn-toolbar">
						<div class="btn-group">
							<a href="" class="btn btn-mini" ng-click="predicate='text'; reverse=!reverse">内容</a>
							<a href="" class="btn btn-mini" ng-click="predicate='time'; reverse=!reverse">时间</a>
							<a href="" class="btn btn-mini" ng-click="predicate='weight'; reverse=!reverse">权重</a>
							<a href="" class="btn btn-mini" ng-click="predicate=''">默认</a>
						</div>
						<div class="btn-group">
							<a href="" class="btn btn-mini" ng-click="query=true">已完成</a>
							<a href="" class="btn btn-mini" ng-click="query=false">未完成</a>
							<a href="" class="btn btn-mini" ng-click="query=''">全部</a>
						</div>
					</div>
				</div>
				<div class="todo-list">
					<div ng-repeat="todo in todos | orderBy:predicate:reverse | filter:query">
						<ul class="unstyled color" ng-hide="todo.editing">
							<li ng-repeat="color in [4,3,2,1]" class="color-{{color}}" ng-click="todo.weight=color"></li>
						</ul>
						<div class="alert color-{{todo.weight}} done-{{todo.done}}" ng-hide="todo.editing" ng-dblclick="startEditing(todo)">
							<!-- <button type="button" class="close" ng-click="removeTodo(todo)" data-dismiss="alert">×</button> -->
							<button type="button" class="btn btn-danger" ng-click="removeTodo(todo)" data-dismiss="alert">删除</button>
							<input type="checkbox" ng-model="todo.done">
							<span class="todo-text">{{todo.text}}</span>
							<p class="pull-right">{{todo.time}}</p>
						</div>
						<form ng-submit="doneEditing(todo)" ng-show="todo.editing">
							<input type="text" ng-blur="doneEditing(todo)" ng-focus="todo==editedItem" class="input-xxlarge" ng-model="todo.text" size="30" ng-required="true">
						</form>
					</div>
				</div>
				<div class="footer" ng-show="!query && hasItem()">
					<span class="badge badge-warning">{{count()}}</span> 项未完成
				</div>
	</div>
</body>
<script id="others_angular_103" type="text/javascript" class="library" src="js/angular.js"></script>
<script src="js/todo.js"></script>
</html>
